

.head{
    h2{
        margin-top: 1em;
        color: #780000;
        font-size: 2em;
    }
}

.poins{

    color: #5c5c5c;
    h3{
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: blue;
        padding-left: 1em;
        padding-right: 1em;
    }

    p{
        font-size: 1.5em;
        text-align: justify;
        padding-left: 1em;
        padding-right: 1em;
        text-indent: 1em;
        line-height: 1.5em;
    }

    ul{
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        list-style-position: inside;
        font-size: 1.5em;
        text-align: justify;
        li{

        }
    }
}