.forMobile{display: none;}

.mobile-menu{
    display:none;
    width:100%;
    padding:11px;
    background:#3E4156;
    color:#ffffff;
    text-transform:uppercase;
    font-weight:600;
    border-bottom: 1px solid white;
    
    
    :hover{
        background:#3E4156;
        color:#ffffff;
        text-decoration:none;
    }
};


@media (max-height: 280px){

    .mobileMenu{
        overflow: scroll;
        height: 200px;
    }  ;
}

@media (max-height: 330px){

    .mobileMenu{
        overflow: scroll;
        // height: 250px;
    }  ;
};

@media (max-height: 380px){

    .mobileMenu{
        overflow: scroll;
        // height: 310px;
    };
};

@media (max-height: 420px){

    .mobileMenu{
        overflow: scroll;
        // height: 350px;
    };
};

@media (max-height: 470px){

    .mobileMenu{
        overflow: scroll;
        // height: 400px;
    };
};

@media (max-height: 520px){

    .mobileMenu{
        overflow: scroll;
        // height: 460px;
    };
};



@media (max-width: 767px) {

    .menu{display:none;}

    .forMobile{
        position: fixed;
        top: 0;
        z-index: 2;
        display: block;
        margin-bottom: 1em;
        width: 100%;
        // height: 100%;

        border:1px solid yellow;            
        border-left: 2px solid yellow;
        
        a{
            text-decoration: none;
        };
    };

    .mobile-menu{display:block;}

    .mobileMenu{
        display: none;
        margin-top: 0em;
        padding-left: 0em;
       

        ul{top:4em;}

        li{
            display:block;
            margin:0;

            a{
                background:#ffffff;
                color:#797979;
                border-top:1px solid #e0e0e0;
                border-left:3px solid #ffffff;
                display: inline-block;
                width: 100%;
                font-size: 1.5em;
                text-transform: uppercase;
                padding-top: 0.2em;
                padding-bottom: 0.2em;
            };

            a:hover{
                background:#f0f0f0;
                color:#797979;
                border-left:3px solid #9CA3DA;
            }; 
        };

        .CallMe{
            text-transform: capitalize;
            font-weight: bold;
        };

        i.fa-facebook-f{
            color: blue;
        };

        i.fa-instagram{
            color:  #fd7e14 ;
        };

        i.fa-phone{
            transform: rotate(160deg);
        };
        

    };
    
};








