
@import'reset';
@import'container';
@import'adressPanell';
@import'logoPanel';
@import'menuDesctop';
@import'mobileMenu';
@import'mainBlock';
@import'slaider';
@import'aboutClub';
@import'3d';
@import'metodiki';
@import'montesori';
@import'buttons';
@import'klass1';
@import'inClub';
@import'contacts';
@import'calendar';
@import'calendar1';
@import'preparationForSchool';
@import'preparationSchoolDetails';





.headlines{
    h2{margin-top:1em; margin-bottom: 1em;}

    font-weight: bold;
    font-size: 2em;
}
p{font-weight: normal;}


.simvolmongoose{

    width: 40%;
    background-color: yellow;
    border-radius: 100px; 
    border: 3px solid #ffff00; 
    box-shadow: 0 0 7px #666;
    margin-top: 3em;
    margin-bottom: 0.5em;
    box-shadow: 0 0 30px orange;

    
}

.nameForMoblile{
    color: #3e4156 ;
}



@media only screen and (min-width : 280px) and (max-width : 479px){

    .headlines{
        h2{margin-top: 0.5em; margin-bottom: 0.5em;}    
        font-size: 2em;
    }

};

@media only screen and (min-width : 480px) and (max-width : 629px){

    .headlines{
        h2{margin-top: 0.5em; margin-bottom: 0.5em;}    
        font-size: 2em;
    }


};

@media only screen and (min-width : 630px) and (max-width : 767px){

    .headlines{
        h2{margin-top: 0.5em; margin-bottom: 0.5em;}    
        font-size: 2em;
    }

    .simvolmongoose{
        width: 25%;
    }


};

@media only screen and (min-width : 768px) and (max-width : 849px) {


    .container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}
    
    .simvolmongoose{

      display: none;
    }

    .nameForMoblile{
        
        display: none;
    }

    .BanerForMobile{
        display: none;
    }
};

@media screen and (min-width: 850px) and (max-width:991px) {

    .container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}

    .simvolmongoose{
        display: none;
    }

    .nameForMoblile{
        display: none;
    }

    .BanerForMobile{
        display: none;
    }
  
};

@media screen and (min-width : 991px) and (max-width : 1023px){

    .container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}

    .simvolmongoose{
        display: none;
    }

    .nameForMoblile{
        display: none;
    }

    .BanerForMobile{
        display: none;
    }
};

@media only screen and (min-width : 1024px) and (max-width : 1199px){

    .container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}
  
    .simvolmongoose{
        display: none;
    }

    .nameForMoblile{
        display: none;
    }

    .BanerForMobile{
        display: none;
    }
  
};

@media only screen and (min-width : 1199px) and (max-width : 1379px){

	.container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}


    .simvolmongoose{
        display: none;
    }

    .nameForMoblile{
        display: none;
    }

    .BanerForMobile{
        display: none;
    }
    
};


@media only screen and (min-width : 1379px) and (max-width : 1920px){

	.container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}

    .simvolmongoose{
        display: none;
    }

    .nameForMoblile{
        display: none;
    }

    .BanerForMobile{
        display: none;
    }
};

@media only screen and (min-width : 1920px) and (max-width : 2160px){

	.container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}


    .simvolmongoose{
        display: none;
    }

    .nameForMoblile{
        display: none;
    }

    .BanerForMobile{
        display: none;
    }
};